.races-button1 {
    grid-column: 3/4;
    align-self: center;
    justify-self: end;
}

.races-button2 {
    grid-column: 4/5;
    align-self: center;
    justify-self: end;
}

.races-button3 {
    grid-column: 5/6;
    align-self: center;
    justify-self: end;
}

.RaceItem-Container {
    background: #202020;
    border: 1px solid #9A9A9A;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 6fr 3fr;
}

.racesCol1 {
    grid-column: 1;
    text-align: start;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140.62%;
    color: #FFFFFF;
    border-top: 0.5px solid #ACB3BF;
    padding-top: 5px;
    padding-bottom: 5px;
}

.racesCol2 {
    grid-column: 2;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    color: #ACB3BF;
    border-top: 0.5px solid #ACB3BF;
    padding-top: 5px;
    padding-bottom: 5px;
}
.racesCol3 {
    grid-column: 3;
    text-align: start;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140.62%;
    color: #FFFFFF;
    border-top: 0.5px solid #ACB3BF;
    padding-top: 5px;
    padding-bottom: 5px;
}
.racesCol4 {
    grid-column: 4;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    color: #ACB3BF;
    border-top: 0.5px solid #ACB3BF;
    padding-top: 5px;
    padding-bottom: 5px;
}

.races-select-button {
    background: #3D3D3D;
    border: 1px solid #8B8B8B;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    display: flex;
    align-items: center;
    text-align: center;
}

.RaceItem-Info-Show {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    background: #3D3D3D;
    border: 1px solid #9A9A9A;
    border-radius: 0px 0px 5px 5px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    font-size: 14px;
}

.Race-Plan-Details {
    grid-row: 7;
    grid-column: 4;
}

.View-Plan-Details-Button{
    background: #000000;
    border: 1px solid #8B8B8B;
    padding: 4px 18px 4px 18px;
    border-radius: 5px;
    font-style: normal;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 200%;
    display: flex;
    align-items: center;
    text-align: center;
}